html {
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;

  line-height: 1.6;
  position: relative;
  background-size: cover;
  background-position: center;
  scroll-behavior: smooth;
  height: 100%;
  color: #dedede;
  width: 100%;
  background-color: #111;
}

.bg {
  background-color: #1f1f1f !important;
}

.primary {
  color: #07aaff;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
}

hr {
  border-top: 1px solid #252525;
  margin: 70px auto 55px;
  max-width: 40%;
}

.navbar {
  background-color: #111;
}

.nav-item > a {
  color: #dedede;
  text-transform: uppercase;
  z-index: 111;
}

.jumbotron {
  background-color: #111;
}
.active > a {
  color: #07aaff;
  text-transform: uppercase;
  font-weight: bold;
}



.home-details {
  height: 82vh;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.mobileprofileImage {
  background-image: url(../images/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 111;
  border-radius: 15px;
  width: 150px;
  height: 150px;

  border-radius: 115px;

  border: 4px solid #252525;

  margin: 10px auto;
}
.profileImage {
  background-image: url(../images/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(100vh - 200px);
  z-index: 111;
  border-radius: 15px;

  right: 30px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

.display-4 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 18px 0 10px;
  text-transform: uppercase;
}

.info {
  line-height: 32px;
  font-size: 14px;
  margin: 10px 0 23px;
}
.Hello {
  font-size: 22px;
  font-weight: 400;
}
/**
.btn {
  transition: all 0.3s;
  border-radius: 26px;
  padding: 0 40px;

  line-height: 40px;
  letter-spacing: 0.5px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
  outline: none !important;
  display: inline-block;
}

.btn:hover {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
.btn:hover a {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
} **/

/*** About **/

.about {
  width: 100%;
  transition: all 0.3s;
}

.about .container {
  transition: all 0.3s;
}
.about-details {
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  transition: all 0.3s;
}
.btn-about:before {
  content: "\f007";
}

li > .title {
  opacity: 0.8;
  text-transform: capitalize;
}

.Personal li {
  padding: 10px;
}

.education li {
  position: relative;
  padding: 0 20px 0 60px;
  margin: 0 0 50px;
}

.education li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  border-left: 1px solid #333;
}
.education .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  line-height: 40px;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
  color: #fff;
  background-color: #07aaff;
}
.educationyear {
  color: #fff;
  font-size: 12px;
  padding: 1px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
  background-color: #252525;
  opacity: 0.8;
}
.about ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content {
  margin-top: 12px;
}

/** Skills **/

.c100 {
  float: none !important;
  margin: 0 auto;
  background-color: #252525;
}

.c100:after {
  background-color: #111;
}

.skillbox {
  border: 5px solid #07aaff;
}

.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 5px solid #07aaff;
}
.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #cccccc;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/*** projects ***/

.projectlist {
  margin: 0 auto;
  align-items: center;
  margin-top: 10px;
}
.projectlist img {
  transition: all 0.5s ease-in-out;
}

.projectlist:hover img {
  transform: scale(1.2);
  transition: all 0.5s ease-in;
}


@media (max-width: 700px)
{
  .card-body
  {
    padding: 0.8rem;
  }
}









/***** contact ****/


.contact-details {
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  transition: all 0.3s;
}
.social-icon
{
  background-color: #2b2a2a;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 42px;
  text-align: center;
  transition: 0.3s;
  font-size: 17px;
  margin: 0 6px;
  border-radius: 50%;
}

.social li{
  display: inline-block;
}


.social-icon li:hover .social-icon
{
  background-color: #07aaff;
}

.social i {
 color: #fff;
}


.contact-form .form-control
{
  background-color: #252525;
  border: 0px;

  color:#fff;
}

.contact-form .form-control:focus
{
  border: 1px solid #07aaff;
  background-color: #252525;
  color:#fff;
}


/*** serives ***/



.services .card-header
{
  background-color: #cccccc;
  min-height: 150px;

  align-items: center;
}

